/* Twice member colors
"#49c0ec"
"#a3cc54"
"#e67ea3"
"#8c79b4"
"#ffc56e"
"6dcdb8"
"f7f7f7"
"e62722"
"2253a3"
*/

body { 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #f4c2c2;
}

.title-container {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    -webkit-text-stroke: #EA4C89 1px;
}

#size-input {
    width: 20%;
    margin-right: auto;
    margin-left: auto;
}

#grid-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: fit-content;
}

.grid-square {
    box-sizing: border-box;
    border: 1px solid rgb(202, 201, 201);
    width: 50px;
    height: 50px;
}

/* 
.grid-square:hover {
    background-color: black;
}

.grid-square:focus {
    background-color: darkgray;
} */

.colored-square {
    background-color: black;
}

.button-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}