body { 
    min-height: 100vh; 
}

#grid-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 2px solid red;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-square {
    /* border: 2px solid red; */
    width: 100px;
    height: 100px;
}


.grid-square:hover {
    background-color: black;
}

#generate-button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#generate-button:hover,
#generate-button:focus {
  background-color: #F082AC;
}