body { 
    min-height: 100vh; 
}

#grid-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
}

.box-row {
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    margin: 5px;
}

.box {
    border: 2px solid red;
    margin: 5px;    
}